* {
    margin: 0px;
    padding: 0px;
    /* background-color: blueviolet; */
    text-decoration: none;
}

@font-face {
    font-family: nuvel;
    src: url("fonts/Nuvel.ttf") format("truetype");
}

body {
    background-image: url("images/fundo.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#bt-topo {
    position: fixed;
    right: 0px;
    bottom: 0px;
    opacity: 0.6;
}

#check {
    display: none;
}

#check:checked ~ ul {
    display: block;
    opacity: 1;
    transition: opacity .5s linear;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #461780;
    align-items: center;
}

header img {
    width: 80px;
    margin: 10px;
}

header nav label {
    font-size: 30px;
    margin: 0 50px;
}

header nav ul {
    display: none;
    opacity: 0;
    list-style-type: none;
    background-color: #461780a9;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 100px;
    height: 100%;
    text-align: center;
    z-index: 99;
}

header nav ul li {
    margin: 20px 0;
}

header nav ul li a {
    color: antiquewhite;
    font-size: 30px;
    padding: 8px 15px;
    margin: 10px 0;
}

main {
    color: antiquewhite;
    
    padding: 300px 0;
    text-align: center;
}

main h1 {
    font-size: 150px;
    font-family: nuvel;
    font-weight: lighter;
}

.projetos {
    background-color: transparent;
    align-items: center;
}

.seção {
    margin: auto;
    padding: 60px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1000px;
    background-color: white;
}

.seção .porta-imagem img {
    width: 80vw;
}

.seção .comporta-texto {
    color: #461780;
    max-width: 390px;
    margin: 20px;
}

.seção .comporta-texto h2 {
    font-size: 35px;
}

.seção .comporta-texto h3 {
    margin-top: 20px;
}

.seção .comporta-texto p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.seção .comporta-texto .caixa-botão {
    text-align: center;
}

.seção .comporta-texto a {
    background-color: #461780;
    color: antiquewhite;
    padding: 5px 10px;
}

.content {
    background-color: white;
    color: #461780;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

.content .titulo-conteudo {
    text-align: center;
    padding-top: 30px;
}

.content h2 {
    font-size: 20px;
}

.content .texto-conteudo {
    padding: 0 20px;
}

.content .texto-conteudo .caixa-texto h3 {
    margin-top: 30px;
}

.content .texto-conteudo .caixa-texto p {
    margin-top: 10px;
}

.content .caixa-foto-intro {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 40px auto;
}

.content .caixa-foto-intro img {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    background-color: antiquewhite;
    color: #461780;
    text-align: center;
    padding: 40px;
}

footer * {
    background-color: antiquewhite;
}

footer h2 {
    font-size: 40px;
}

@media(min-width: 480px) {
    
    header nav label {
        display: none;
    }

    header nav ul{
        position: relative;
        top: auto;
        left: auto;
        font-size: 25px;
        display: block;
        list-style-type: none;
        display: flex;
        margin-right: 30px;
        opacity: 1;
        background-color: transparent;
    }

    header nav ul li a {
        color: antiquewhite;
        padding: 10px 15px;
        border-radius: 100%;
    }

    header nav ul li a:hover {
        color: #461780;
        padding: 10px 15px;
        background-color: antiquewhite;
    }
}

@media(min-width: 1024px){

    header nav ul li a {
        color: antiquewhite;
        font-size: 20px;
        padding: 8px 15px;
        margin: 10px 0;
    }

    .seção {
        margin: 0 auto;
        flex-flow: row;
    }

    .seção:nth-child(even){
        flex-flow: row-reverse;
    }

    .seção:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .seção .porta-imagem {
        max-width: 900px;
        overflow: hidden;
        margin: 0 50px;
    }

    .seção .porta-imagem img {
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .content {
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .content .texto-conteudo .caixa-texto {
        margin: auto;
        max-width: 700px;
    }
}