@font-face {
    font-family: comfortaa;
    src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  color: white;
  font-family: comfortaa;
  text-decoration: none;
}

h1 {
  font-size: 0px;
}

h2 {
   text-align: center;
   margin: 25px;
}

body {
  background: rgb(0,108,99);
  background: linear-gradient(0deg, rgba(0,108,99,1) 0%, rgba(0,0,0,1) 71%);
}

header {
  display: flex;
  flex-flow: column;
  margin-bottom: 90px;
}

header a {
  margin: auto;
}

section {
  margin: 25px 0;
  padding: 0 25px;
  display: flex;
  max-width: 750px;
  margin: auto;
}

section p {
  margin: auto;
  margin-top: 20px;
}

footer {
  margin: 80px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

footer p {
  margin-top: 20px;
  font-weight: bold;
}

footer a {
  background: #1a1a1aff;
  width: auto;
  padding: 8px 25px;
  border-radius: 50px;
  margin: auto;
}

footer a p {
  font-family: sans-serif;
  font-weight: normal;
  margin: auto;
  text-decoration: none;
  color: #00ffffff;
}

.botao {
  display: flex;
  align-items: center;
  gap: 10px;
}

.capa {
  width: 100vw;
  max-width: 750px;
  margin: auto;
}

.logo {
  width: 140px;
  margin: auto;
  margin-top: -150px;
}

.texto-degrade {
  font-size: 15px;
  background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,183,0,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255,255,0);
}

.caixa-banners {
  margin: 40px auto;
  display: flex;
  align-items: center;
}

.banner {
  width: 25%;
  margin: auto;
}

.porta-imagens {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.porta-imagens img {
  width: 120px;
  margin: auto;
}

.caixa-folders {
  display: flex;
  flex-flow: row;
  margin: auto;
}

.folder {
  background: #004444;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.folder h3 {
  color: #00ffffff;
  margin: auto;
  font-size: 11px;
}

.content {
  flex-flow: column;
}

.titulo-conteudo h1 {
  text-align: center;
  font-size: 45px;
}

.titulo-conteudo h2 {
  font-size: 25px;
}

.caixa-texto h3{
  margin-top: 30px;
  font-size: 30px;
  background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,183,0,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255,255,0);
}

.caixa-foto-intro {
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.caixa-foto-intro img {
  height: 100%;
}

#primeira {
  flex-flow: column;
}

#primeira h2 {
  margin: 0px;
  text-align: left;
}

#terceira {
  display: flex;
  flex-flow: column;
  text-align: center;
}

#quarta {
  flex-flow: column;
  align-items: center;
}

#quinta {
  flex-flow: column;
}

#tags {
  font-size: 0px;
}

@media (min-width: 400px) {

  .folder {
    width: 95px;
    height: 95px;
  }

}

@media (min-width: 600px) {

  .logo {
    width: 230px;
    margin-top: -240px;
  }

  .folder {
    width: 160px;
    height: 160px;
  }

  .folder h3 {
    font-size: 23px;
  }

}
